*{
    margin: 0px;
    box-sizing: border-box;
}
.cont1{
    background-color: red;
    height: 80px;
    width: 80px;
    margin-top: 100px;    
    margin-left: 100px;    
}
.cont2{
    background-color: blue;
    height: 80px;
    width: 80px;
    margin-top: 20px;
    margin-left: 250px;    
}
.cont3{
    background-color: green;
    height: 80px;
    width: 80px;    
    margin-top: -180px;    
    margin-left: 400px;    
}
.cont4{
    background-color: rgb(236, 214, 89);
    height: 80px;
    width: 80px;
    margin-top: 130px;
    margin-left: 100px;    
}
.cont5{
    background-color: purple;
    height: 80px;
    width: 80px;    
    margin-top: -80px;    
    margin-left: 400px;    
}