* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ebbf6e;
}

.container {
    width: 800px;
    height: 750px;
    margin: auto;
    position: relative;
}

.box {
    width: 180px;
    height: 180px;
    position: absolute;
    overflow: hidden;
    border: 5px solid #d86f18;
    transform: rotate(45deg);
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: rotate(-45deg) scale(1.4);
}

.box1 {
    top: 80px;
    left: 100px;
}

.box2 {
    top: 80px;
    right: 100px;
}

.box3 {
    width: 250px;
    height: 250px;
    top: 250px;
    left: 275px;
}

.box4 {
    bottom: 80px;
    left: 100px;
}

.box5 {
    bottom: 80px;
    right: 100px;
}